---
permalink: "/admin/tymy/index.html"
layout: admin.njk
titulek: "Týmy"
sekce: "tymy"
tabulka: true
skript: "admin-tymy.js"
eleventyExcludeFromCollections: true
---
<div id="adm-tabulka-obal" class="adm-tabulka-obal"><p class="adm-sub">Načítám…</p></div>
