---
permalink: "/admin/etapy/index.html"
layout: admin.njk
titulek: "Etapy a předávky"
sekce: "etapy"
tabulka: true
skript: "admin-etapy.js"
eleventyExcludeFromCollections: true
---
<div id="adm-tabulka-obal" class="adm-tabulka-obal"><p class="adm-sub">Načítám…</p></div>
