---
permalink: "/admin/nastaveni/index.html"
layout: admin.njk
titulek: "Nastavení ročníku"
sekce: "nastaveni"
tabulka: true
skript: "admin-nastaveni.js"
eleventyExcludeFromCollections: true
---
<div id="adm-tabulka-obal" class="adm-tabulka-obal" data-x="rocnik"><p class="adm-sub">Načítám…</p></div>
<script>document.body.dataset.nastaveni = "rocnik";</script>
