---
permalink: "/admin/nastaveni-obecne/index.html"
layout: admin.njk
titulek: "Obecné nastavení"
sekce: "nastaveni-obecne"
tabulka: true
skript: "admin-nastaveni.js"
eleventyExcludeFromCollections: true
---
<div id="adm-tabulka-obal" class="adm-tabulka-obal" data-x="obecne"><p class="adm-sub">Načítám…</p></div>
<script>document.body.dataset.nastaveni = "obecne";</script>
