---
permalink: "/admin/cenik/index.html"
layout: admin.njk
titulek: "Ceník startovného"
sekce: "cenik"
tabulka: true
skript: "admin-cenik.js"
eleventyExcludeFromCollections: true
---
<div id="adm-tabulka-obal" class="adm-tabulka-obal"><p class="adm-sub">Načítám…</p></div>
