---
permalink: "/admin/hlidani/index.html"
layout: admin.njk
titulek: "Hlídání závodu"
sekce: "hlidani"
skript: "admin-hlidani.js"
eleventyExcludeFromCollections: true
---
<div class="adm-stranka hl-stranka">
  <h1>Hlídání závodu</h1>
  <p class="adm-sub">Neveřejné, jen pro admina. Obnovuje se samo každou minutu, maily se neposílají.</p>
  <div id="hl-obsah"><p class="adm-sub">Načítám…</p></div>
</div>
<script src="{{ web.zaklad }}/assets/vysledky-model.js"></script>
