---
permalink: "/admin/fronta/index.html"
layout: admin.njk
titulek: "Fronta mailů"
sekce: "fronta"
tabulka: true
skript: "admin-fronta.js"
eleventyExcludeFromCollections: true
---
<div id="adm-tabulka-obal" class="adm-tabulka-obal"><p class="adm-sub">Načítám…</p></div>
