---
permalink: "/admin/vysledky/index.html"
layout: admin.njk
titulek: "Výsledky"
sekce: "vysledky"
tabulka: true
skript: "admin-vysledky.js"
eleventyExcludeFromCollections: true
---
<div id="adm-tabulka-obal" class="adm-tabulka-obal"><p class="adm-sub">Načítám…</p></div>
