---
permalink: "/kapitan/bezec/index.html"
layout: kapitan.njk
titulek: "Kdo poběží?"
krok: "soupiska"
skript: "kapitan-bezec.js"
vlastniNavigace: true
metaPopis: "Kapitánská sekce Hory Bory."
eleventyExcludeFromCollections: true
---
