---
permalink: "/kapitan/etapy/index.html"
layout: kapitan.njk
titulek: "Rozdělení na etapy"
sekce: "etapy"
skript: "kapitan-etapy.js"
metaPopis: "Kapitánská sekce Hory Bory."
eleventyExcludeFromCollections: true
---
