---
permalink: "/kapitan/index.html"
layout: kapitan.njk
titulek: "Kapitánská sekce"
sekce: "prehled"
skript: "kapitan-prehled.js"
metaPopis: "Kapitánská sekce Hory Bory."
eleventyExcludeFromCollections: true
---
