---
permalink: "/kapitan/index.html"
layout: kapitan.njk
titulek: "Přehled a startovné"
krok: "prehled"
skript: "kapitan-prehled.js"
metaPopis: "Kapitánská sekce Hory Bory."
eleventyExcludeFromCollections: true
---
