---
permalink: "/kapitan/oprava-casu/index.html"
layout: kapitan.njk
titulek: "Oprava času"
krok: "oprava"
skript: "kapitan-oprava.js"
vlastniNavigace: true
metaPopis: "Kapitánská sekce Hory Bory."
eleventyExcludeFromCollections: true
---
