---
permalink: "/kapitan/pocet/index.html"
layout: kapitan.njk
titulek: "Konečný počet běžců"
krok: "pocet"
skript: "kapitan-pocet.js"
metaPopis: "Kapitánská sekce Hory Bory."
eleventyExcludeFromCollections: true
---
