---
permalink: "/kapitan/potvrzeni/index.html"
layout: kapitan.njk
titulek: "Kontrola a potvrzení"
krok: "potvrzeni"
skript: "kapitan-potvrzeni.js"
metaPopis: "Kapitánská sekce Hory Bory."
eleventyExcludeFromCollections: true
---
