---
permalink: "/kapitan/soupiska/index.html"
layout: kapitan.njk
titulek: "Soupiska"
sekce: "soupiska"
skript: "kapitan-soupiska.js"
metaPopis: "Kapitánská sekce Hory Bory."
eleventyExcludeFromCollections: true
---
