---
permalink: "/kapitan/bezec/udaje/index.html"
layout: kapitan.njk
titulek: "Údaje běžce"
krok: "soupiska"
skript: "kapitan-udaje.js"
vlastniNavigace: true
metaPopis: "Kapitánská sekce Hory Bory."
eleventyExcludeFromCollections: true
---
